<h2 mat-dialog-title>Upload Certificate</h2>

<mat-dialog-content style="width:450px;">

  <form name="truststoreForm" #truststoreForm="ngForm">
    <mat-card appearance="outlined">
      <mat-card-content>

        <label class="custom-file-upload">
          <input #fileInput type="file" id="truststore" accept=".cer,.pem" (change)="selectFile()" style="display: none;">
          <span class="custom-file-upload-inner">Choose File </span>
        </label>
        {{selectedFileName}}

        <mat-checkbox *ngIf="legacyVisible" name="legacy" id="legacy_id" [(ngModel)]="legacy" style="display: block; margin-top: 20px;">
          No security profile
        </mat-checkbox>

        <mat-form-field *ngIf="legacy" class="password" style="margin-top: 20px;">
          <mat-label>Alias</mat-label>
          <input matInput id="alias_id" name="alias" type="text" [(ngModel)]="alias" #aliasC="ngModel" required="true">
          <span class="help-block" *ngIf="shouldShowErrors(aliasC)">
              <div *ngIf="aliasC.errors?.required" class="error">Certificate alias is required</div>
          </span>
        </mat-form-field>

        <mat-form-field *ngIf="!legacy" class="password" style="margin-top: 20px;">
          <mat-label>Party Name</mat-label>
          <input matInput id="partyNameid" name="partyName" type="text" [(ngModel)]="partyName" #partyNameC="ngModel" required="true">
          <span class="help-block" *ngIf="shouldShowErrors(partyNameC)">
              <div *ngIf="partyNameC.errors?.required" class="error">Party name is required</div>
          </span>
        </mat-form-field>

        <mat-form-field *ngIf="!legacy" style="width: 100%;">
          <mat-label>Security Profile</mat-label>
          <mat-select [(ngModel)]="securityProfile" name="securityProfile" id="securityProfile_id" required="true">
            <mat-option *ngFor="let securityProfile of securityProfiles" [value]="securityProfile">
              {{securityProfile}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!legacy" style="width: 100%;">
          <mat-label>Certificate Purposes</mat-label>
          <mat-select [(ngModel)]="certificatePurpose" name="certificatePurpose" id="certificatePurpose_id" required="true">
            <mat-option *ngFor="let certificatePurpose of certificatePurposes" [value]="certificatePurpose">
              {{certificatePurpose}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>
    </mat-card>

    <div class="buttonsRow">
      <button id="okbuttonupload_id" class="button" mat-raised-button color="primary" (click)="submit()"
              [disabled]="!isFormValid()">
        <mat-icon>check_circle</mat-icon>
        <span>OK</span>
      </button>
      <button id="cancelbuttonupload_id" class="button" mat-raised-button color="primary" (click)="dialogRef.close(null)">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </div>

    <div class="legend">* required fields</div>
  </form>
</mat-dialog-content>




