<h2 mat-dialog-title>Party</h2>

<mat-dialog-content style="height:750px;padding-top:15px;overflow-y: hidden;">
  <form #editForm="ngForm" (submit)="submitForm()" style="height: 100%;">
    <div style="height: calc(100% - 60px); overflow-y: auto;">
      <div style="overflow-y: hidden;">
        <div>
          <mat-card appearance="outlined">
            <mat-card-content>
              <div class="panel">
                <mat-form-field style="width:100%">
                  <mat-label>Name</mat-label>
                  <input matInput name="name" id="name_id_detail" [(ngModel)]="party.name" input-debounce
                         #party_name="ngModel" required [maxlength]="255">
                  <span class="help-block" *ngIf="shouldShowErrors(party_name)">
                    <div *ngIf="party_name.errors?.required" style="color:red; font-size: 70%">You should type a party name</div>
                  </span>
                </mat-form-field>

                <mat-form-field style="width:100%">
                  <mat-label>End Point</mat-label>
                  <input matInput name="endPoint" id="endPoint_id_detail" [(ngModel)]="party.endpoint" input-debounce
                         #party_endPoint="ngModel" required [maxlength]="255" [pattern]="endpointPattern">
                  <span class="help-block" *ngIf="shouldShowErrors(party_endPoint)">
                    <div *ngIf="party_endPoint.errors?.required" style="color:red; font-size: 70%">You should type an endpoint</div>
                    <div *ngIf="party_endPoint.errors?.pattern" style="color:red; font-size: 70%">Endpoint should follow the URL pattern<br></div>
                  </span>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div>
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Certificate</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="panel">
                <fieldset [disabled]="true" style="border: none;">
                  <mat-form-field style="width:100%">
                    <mat-label>Subject Name</mat-label>
                    <input matInput name="subjectName" value="{{party.certificate?.subject}}" id="subjectName_id">
                  </mat-form-field>
                  <mat-form-field style="width:40%">
                    <mat-label>Valid From</mat-label>
                    <input matInput name="validityFrom" value="{{party.certificate?.validFrom | domibusDate}}" id="validityFrom_id">
                  </mat-form-field>
                  <mat-form-field style="width:40%">
                    <mat-label>Valid To</mat-label>
                    <input matInput name="validityTo" value="{{party.certificate?.validUntil | domibusDate}}" id="validityTo_id">
                  </mat-form-field>
                  <mat-form-field style="width:100%">
                    <mat-label>Issuer</mat-label>
                    <input matInput name="issuer" value="{{party.certificate?.issuer}}" id="issuer_id">
                  </mat-form-field>
                  <mat-form-field style="width:100%">
                    <mat-label>Fingerprints</mat-label>
                    <input matInput name="fingerPrint" value="{{party.certificate?.fingerprints}}" id="fingerPrint_id">
                  </mat-form-field>
                </fieldset>
                <label [ngClass]="{'custom-file-upload': party.name, 'custom-file-upload-disabled': !party.name }" (click)="onImportClicked($event)">
                  <input #fileInput type="file" id="custom-file-upload" accept=".cer,.pem" (change)="uploadCertificate()">
                  <span [ngClass]="{'custom-file-upload-inner': party.name, 'custom-file-upload-inner-disabled': !party.name || readOnly}">Import</span>
                </label>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div>
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title [ngClass]="{ 'invalid': party.identifiers.length == 0}">Identifiers</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="panel">
                <ngx-datatable
                  id="identifierTable"
                  class="material striped"
                  [rows]="party.identifiers"
                  [selected]="selectedIdentifiers"
                  [selectionType]="'single'"
                  [columnMode]="'force'"
                  [columns]="identifiersRowColumnPicker.selectedColumns"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [externalPaging]="false"
                  [externalSorting]="false"
                  [count]="party.identifiers.length"
                  (activate)="onActivate($event)"
                >
                </ngx-datatable>

                <div class="edit-form-buttons">
                  <button mat-raised-button (click)="addIdentifier()" [disabled]="readOnly"
                          color="primary" button-click-behaviour id="partydetails_addbutton_id" type="button">
                    <mat-icon>add</mat-icon>
                    <span>New</span>
                  </button>
                  <button mat-raised-button (click)="editIdentifier()" [disabled]="readOnly"
                          color="primary" id="partydetails_editbutton_id" type="button"
                          [disabled]="selectedIdentifiers.length==0" button-click-behaviour>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-raised-button (click)="removeIdentifier()" [disabled]="readOnly"
                          color="primary" id="partydetails_removebutton_id" type="button"
                          [disabled]="selectedIdentifiers.length==0" button-click-behaviour>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div>
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Processes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="panel">
                <ngx-datatable
                  id="processTable"
                  class="material striped"
                  [rows]="processesRows"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [scrollbarV]="false"
                  [scrollbarH]="false"
                  [externalPaging]="false"
                  [externalSorting]="false"
                  [count]="processesRows.length"
                >
                  <ngx-datatable-column name="Process" prop="name"></ngx-datatable-column>

                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      Initiator
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="row.isInitiator">
                      <mat-checkbox [checked]="row.isInitiator" [disabled]="readOnly" (change)="checkInitiator(row)"></mat-checkbox>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                      Responder
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                      <mat-checkbox [checked]="row.isResponder" [disabled]="readOnly" (change)="checkResponder(row)"></mat-checkbox>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <popup-edit-footer [parent]="this" [disabled]="readOnly"></popup-edit-footer>

  </form>
</mat-dialog-content>

