<div class="domibus-page">
  <page-header id="jmsmonitoringheader_id">JMS Monitoring</page-header>

  <div class="selectionCriteria">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">

            <mat-form-field style="width: 40% !important;">
              <mat-label>Source Queue</mat-label>
              <mat-select class="searchField" [(ngModel)]="selectedSource" name="jmsQueueSelector"
                          id="jmsQueueSelector">
                <input matInput placeholder="type to filter" (keyup)="onFilterSourceQueuesKey($event.target.value)"
                       style="width: 90%; padding: 10px 20px; border-bottom: grey solid 0.5px">
                <mat-option *ngFor="let queue of filteredQueues" [value]="queue" class="queue-combo-item">
                  {{queue.internal ? "[internal]" : ""}} {{queue.name}} {{queue.numberOfMessages != -1 ? "(" + queue.numberOfMessages + ")" : ""}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Received From</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedFrom" id="jmsFromDatePicker" name="receivedFrom"
                     [ngModel]="filter.fromDate" (ngModelChange)='onTimestampFromChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [max]="timestampFromMaxDate">
              <mat-datepicker-toggle matSuffix [for]="receivedFrom" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedFrom>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Received Up To</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedTo" id="jmsToDatePicker" name="receivedTo"
                     [ngModel]="filter.toDate" (ngModelChange)='onTimestampToChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [min]="timestampToMinDate" [max]="timestampToMaxDate">
              <mat-datepicker-toggle matSuffix [for]="receivedTo" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedTo>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <br>
            <mat-form-field *ngIf="isDLQQueue()" class="domibus" style="display: inline-block;width: 40% !important;">
              <mat-label>Original Queue</mat-label>
              <mat-select [(ngModel)]="originalQueueName" (selectionChange)="onSelectOriginalQueue()"
                           name="sourceQueue" id="sourceQueue_id" style="width:100%">
                <input matInput placeholder="type so filter" (keyup)="onFilterOriginalQueuesKey($event.target.value)"
                       style="width: 90%; padding: 10px 20px; border-bottom: grey solid 0.5px">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let queue of originalQueues" [value]="queue.name" style="width:95%">
                  {{queue.internal ? "[internal]" :""}} {{queue.name}} {{queue.numberOfMessages != -1 ? "(" + queue.numberOfMessages + ")" : ""}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field id="jmsSelector">
              <mat-label>Selector</mat-label>
              <input id="jmsSelectorinput" name="selector" matInput [(ngModel)]="filter.selector">
            </mat-form-field>

            <mat-form-field id="jmsType">
              <mat-label>JMS Type</mat-label>
              <input id="jmsTypeInput" name="jmsType" matInput [(ngModel)]="filter.jmsType">
            </mat-form-field>

            <filter-area-footer [parent]="this" [isAdvancedVisible]="false" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <grid-header [parent]="this"></grid-header>

  <div class="domibus-grid-container">
    <page-grid [parent]="this" [selectionType]="'multi'"
               [sortedColumns]="[{prop: 'timestamp', dir: 'desc'}]"></page-grid>
  </div>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value | domibusDate}}</span>
  </ng-template>

  <ng-template #rawTextTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value}}</span>
  </ng-template>

  <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
    <button id="jmsMoveButtonRow{{rows.indexOf(row)}}_id" mat-icon-button color="primary" (click)="moveAction(row)"
            matTooltip="Move" button-click-behaviour>
      <mat-icon>move_to_inbox</mat-icon>
    </button>
    <button id="jmsDeleteButtonRow{{rows.indexOf(row)}}_id" mat-icon-button color="primary"
            (click)="deleteAction(row)"
            matTooltip="Delete" button-click-behaviour>
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <div>
    <page-footer [parent]="this" [isAddVisible]="false" [isEditVisible]="false"></page-footer>
    <span>
      <button id="jmsMoveButton" mat-raised-button color="primary" (click)="moveSelected()" [disabled]="!canMove()"
              button-click-behaviour>
        <mat-icon>move_to_inbox</mat-icon>
        <span>Move</span>
      </button>
      <span matTooltip="Select am original queue and filter to move all messages back">
        <button id="jmsMoveAll" mat-raised-button color="primary" (click)="moveAll()" [disabled]="!canMoveAll()"
                button-click-behaviour style="margin-left: 10px;">
          <mat-icon>move_to_inbox</mat-icon>
          <span>Move All</span>
        </button>
      </span>
      <button id="jmsDeleteAllButton" mat-raised-button color="primary" (click)="deleteAll()" [disabled]="!canDeleteAll()"
             button-click-behaviour style="margin-left: 10px;" matTooltip="Delete all messages">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete All</span>
      </button>
    </span>
  </div>

</div>
