<mat-sidenav-container class="full-height">
  <mat-sidenav mode="side" opened="true" ngClass="{{menuClass}}" [disableClose]="true">
    <!-- sidenav content -->
    <div id="topLogo">
      <img src="assets/images/Domibus_logo_icon.svg" [attr.height]="fullMenu ? '74px' : '40px'"
           [attr.width]="fullMenu ? '74px' : '40px'"/>
      <div id="topLogoText" *ngIf="fullMenu">
        <h1>Domibus <span>Administration <br>Console</span></h1>
      </div>
    </div>

    <button mat-raised-button class="sideNavButton" [routerLink]="['/messagelog']" id="messages_id" *ngIf="isUser()">
      <mat-icon mat-tooltip="Messages">message</mat-icon>
      <span>Messages</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/messagefilter']" *ngIf="isAdmin()"
            id="messagefilter_id">
      <mat-icon mat-tooltip="Message Filter">filter_list
      </mat-icon>
      <span>Message Filter</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/errorlog']" id="errorlog_id" *ngIf="isUser()">
      <mat-icon mat-tooltip="Error Log">sms_failed</mat-icon>
      <span>Error Log</span>
    </button>
    <mat-expansion-panel *ngIf="isAdmin()">
      <mat-expansion-panel-header>
        <button mat-raised-button class="sideNavButton" id="pmode_id">
          <mat-icon mat-tooltip="PMode">description</mat-icon>
          <span *ngIf="fullMenu">PMode</span>
        </button>
      </mat-expansion-panel-header>

      <div class="sideNavSubmenu">
        <button mat-raised-button class="sideNavButton" [routerLink]="['/pmode-current']" id="current_pmode_id">
          <mat-icon mat-tooltip="Current PMode">receipt</mat-icon>
          <span>Current</span>
        </button>
        <button mat-raised-button class="sideNavButton" [routerLink]="['/pmode-archive']" id="pmode_archive_id">
          <mat-icon mat-tooltip="PMode Archive">history</mat-icon>
          <span>Archive</span>
        </button>
        <button mat-raised-button class="sideNavButton" [routerLink]="['/pmode-party']" id="pmode_party_id">
          <mat-icon mat-tooltip="Party management">device_hub</mat-icon>
          <span>Parties</span>
        </button>
      </div>
    </mat-expansion-panel>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/jms']" *ngIf="isAdmin()" id="jmsmonitoring_id">
      <mat-icon mat-tooltip="JMS Monitoring">computer</mat-icon>
      <span>JMS Monitoring</span>
    </button>

    <mat-expansion-panel *ngIf="isAdmin()">
      <mat-expansion-panel-header>
        <button mat-raised-button class="sideNavButton" id="truststores_id">
          <mat-icon mat-tooltip="Certificates">vpn_key</mat-icon>
          <span *ngIf="fullMenu">Certificates</span>
        </button>
      </mat-expansion-panel-header>

      <div class="sideNavSubmenu">
        <button mat-raised-button class="sideNavButton" [routerLink]="['/keystore']" *ngIf="isAdmin()" id="keystore_id">
          <mat-icon mat-tooltip="Keystore">vpn_key</mat-icon>
          <span>Keystore</span>
        </button>
        <button mat-raised-button class="sideNavButton" [routerLink]="['/truststore']" *ngIf="isAdmin()" id="truststore_id">
          <mat-icon mat-tooltip="Truststore">vpn_key</mat-icon>
          <span>Truststore</span>
        </button>
        <button mat-raised-button class="sideNavButton" [routerLink]="['/tlstruststore']" *ngIf="isAdmin()" id="tls_truststore_id">
          <mat-icon mat-tooltip="TLS MSH Truststore">https</mat-icon>
          <span>TLS MSH</span>
        </button>
        <button mat-raised-button class="sideNavButton" [routerLink]="['/tlsgenerictruststore']" *ngIf="isAdmin()" id="tls_generic_truststore_id">
          <mat-icon mat-tooltip="TLS Generic Truststore">https</mat-icon>
          <span>TLS Generic</span>
        </button>
      </div>
    </mat-expansion-panel>


    <button mat-raised-button class="sideNavButton" [routerLink]="['/user']"
            *ngIf="isAdmin() && !isExtAuthProviderEnabled()" id="user_id">
      <mat-icon mat-tooltip="Users">people</mat-icon>
      <span>Users</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/pluginuser']" *ngIf="isAdmin()"
            id="plugin_user_id">
      <mat-icon mat-tooltip="Plugin Users">people_outline</mat-icon>
      <span>Plugin Users</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/audit']" *ngIf="isAdmin()" id="audit_id">
      <mat-icon mat-tooltip="Audit">update</mat-icon>
      <span>Audit</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/alerts']" *ngIf="isAdmin()" id="alerts_id">
      <mat-icon mat-tooltip="Alerts">add_alert</mat-icon>
      <span>Alerts</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/connections']" *ngIf="isAdmin()"
            id="connectionmonitoring_id">
      <mat-icon mat-tooltip="Connection Monitoring">import_export</mat-icon>
      <span *ngIf="fullMenu">Connection Monitoring</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/logging']" *ngIf="isAdminMultiAware()" id="logging_id">
      <mat-icon mat-tooltip="Logging">list_alt</mat-icon>
      <span *ngIf="fullMenu">Logging</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/properties']" *ngIf="isAdmin()" id="properties_id">
      <mat-icon mat-tooltip="View or Set Domibus Properties">settings</mat-icon>
      <span>Properties</span>
    </button>
    <button mat-raised-button class="sideNavButton" [routerLink]="['/domains']" *ngIf="isSuperAdmin()" id="domains_id">
      <mat-icon mat-tooltip="Add or Delete Domains">dns</mat-icon>
      <span>Domains</span>
    </button>

    <div class="collapse-button">
      <button *ngIf="fullMenu" mat-raised-button id="expand_id" (click)="toggleMenu()">
        <mat-icon mat-tooltip="Collapse">chevron_left</mat-icon>
      </button>

      <button *ngIf="!fullMenu" mat-raised-button id="collapse_id" (click)="toggleMenu()">
        <mat-icon mat-tooltip="Expand">chevron_right</mat-icon>
      </button>
    </div>

    <div id="bottomLogo" *ngIf="fullMenu">
      <div>
        <img src="assets/images/EC+Logo2.png"/>
      </div>
      <div class="domibusTextSmall"
           style="display: flex;flex-direction: column-reverse;text-align: left;color:#004494;padding-left: 5px;">
        <div>
          Connecting Europe
        </div>
        <div style="font-size: 10pt">
          CEF Digital
        </div>
      </div>
    </div>

  </mat-sidenav>

  <!-- primary content -->
  <div id=".my-content" class="full-height" style="overflow-y: auto;">

    <div id="sandwichMenuHolder">

      <domain-selector *ngIf="currentUser" [currentComponent]="applicationService.getCurrentComponent()" style="width: 200px;"></domain-selector>

      <div *ngIf="currentUser" class="helpMenu">
        <page-helper></page-helper>
      </div>

      <div id="sandwichMenu">
        <button mat-icon-button [mat-menu-trigger-for]="settingsMenu" id="settingsmenu_id" mat-tooltip="Menu" style="padding: 0;">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu x-position="before" #settingsMenu="matMenu">

          <div *ngIf="currentUser" id="settingsmenu_expanded_id">

            <button mat-menu-item disabled="true" id="currentuser_id">
              <mat-icon>person</mat-icon>
              <span>{{currentUser}}</span>
            </button>

            <hr/>

            <button mat-menu-item (click)="changePassword()" id="changePassword_id" *ngIf="!isExtAuthProviderEnabled()">
              <mat-icon>edit</mat-icon>
              <span>Change Password</span>
            </button>

            <div mat-menu-item (click)="showVersionInfo($event)" id="version_id">
              <mat-icon>info</mat-icon>
              <span>Version Info</span>
            </div>

            <button mat-menu-item (click)="logout($event)" id="logout_id">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>

          </div>

          <div *ngIf="!currentUser" style="text-align: center; vertical-align: middle; margin: 2px;">
            <button mat-menu-item disabled="true">
              <mat-icon>person_outline</mat-icon>
              <span>Not logged in</span>
            </button>
          </div>

        </mat-menu>
      </div>
    </div>

    <div id="routerHolder" style="height: calc(100% - 40px);">
      <div style="margin:15px;height: 100%;">
        <router-outlet class="full-height"></router-outlet>
      </div>
    </div>
  </div>

</mat-sidenav-container>


<!-- this helps avoid md2 vs mat libraries conflicts
(both mat-select and md2-datepicker controls use this overlay container when they're opened) -->
<div class="cdk-overlay-container"></div>
