[mat-raised-button] {
  width: 100%;
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
}
mat-sidenav-container button {
margin-bottom: 10px;
}

mat-sidenav {
  text-align: center;
  box-shadow: 7px 7px 10px #9B9B9B;
}

mat-sidenav.menu-expanded {
  width: 250px;
}

mat-sidenav.menu-collapsed {
  width: 50px;
}

html, body, material-app, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.menu-expanded .sideNavButton {
  text-align: left;
  padding-left: 20%;
}

.menu-collapsed .sideNavButton {
  text-align: center;
  padding: 0 !important;
  max-width: 50px !important;
  min-width: 0px !important;
}

.menu-collapsed .sideNavSubmenu {
  margin-left: -10px;
}

.menu-collapsed span.mat-expansion-indicator {
  display: none !important;
}

.mat-expansion-panel-header {
  padding-left: 0;
}

.menu-collapsed .mat-expansion-panel-header {
  padding-right: 0px;
  margin-right: -10px;
}

.menu-collapsed.mat-sidenav {
  min-width: 1vw !important;
}

.menu-expanded #topLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.menu-collapsed #topLogo {
  display: block;
  padding-top: 30px;
  padding-bottom: 12px;
  padding-left: 0;
  height: 70px;
}

#collapse_id, #expand_id {
  text-align: center;
  width: 50px;
  height: 50px;
  min-width: 0
}

.menu-collapsed .sideNavButton span {
  display: none;
}

.mat-mdc-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.sideNavSubmenu {
  margin-bottom: -16px;
}
