<div class="domibus-page">
  <page-header id="messagesheader_id">Messages</page-header>

  <div class="selectionCriteria">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">
            <mat-form-field>
              <mat-label>Message Id</mat-label>
              <input matInput name="messageId" [(ngModel)]="filter.messageId" id="messageid_id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Message Status</mat-label>
              <mat-select [(ngModel)]="filter.messageStatus" name="messageStatus" id="messagestatus_id">
                <mat-option [value]="">
                </mat-option>
                <mat-option *ngFor="let mstatus of msgStatuses" [value]="mstatus">
                  {{mstatus}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="inputFieldParties">
              <mat-label>From Party Id</mat-label>
              <input matInput name="fromPartyId" [(ngModel)]="filter.fromPartyId" id="frompartyid_id">
            </mat-form-field>

            <mat-form-field class="inputFieldParties">
              <mat-label>To Party Id</mat-label>
              <input matInput placeholder="" name="toPartyId" [(ngModel)]="filter.toPartyId" id="topartyid_id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Message Interval</mat-label>
              <mat-select [(ngModel)]="messageInterval" name="messageInterval" id="messagesInterval_id">
                <mat-option *ngFor="let val of messageIntervals" [value]="val">
                  {{val.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Received From</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedFrom" name="receivedFrom" #receivedFromField="ngModel"
                     [ngModel]="filter.receivedFrom" (ngModelChange)='onTimestampFromChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [max]="timestampFromMaxDate" advanced-filter-behaviour [parent]="this">
              <span>
                <div *ngIf="receivedFromField.errors?.matDatetimePickerMax" style="color:red; font-size: 70%">Value should not exceed Received Up To or current date</div>
              </span>
              <mat-datepicker-toggle matSuffix [for]="receivedFrom" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedFrom>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Received Up To</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedTo" name="receivedTo" #receivedToField="ngModel"
                     [ngModel]="filter.receivedTo" (ngModelChange)='onTimestampToChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [min]="timestampToMinDate" [max]="timestampToMaxDate" advanced-filter-behaviour [parent]="this">
              <span>
                <div *ngIf="receivedToField.errors?.matDatetimePickerMin" style="color:red; font-size: 70%">Value should be greater than Received From</div>
                <div *ngIf="receivedToField.errors?.matDatetimePickerMax" style="color:red; font-size: 70%">Value should not exceed the current date</div>
              </span>
              <mat-datepicker-toggle matSuffix [for]="receivedTo" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedTo>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Conversation Id</mat-label>
              <input matInput [readonly]="!searchUserMessages" name="conversationId" [(ngModel)]="filter.conversationId"
                     id="conversationid_id" advanced-filter-behaviour [parent]="this">
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>AP Role</mat-label>
              <mat-select name="mshRole" [(ngModel)]="filter.mshRole" id="aprole_id" advanced-filter-behaviour [parent]="this">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let role of mshRoles" [value]="role">
                  {{role}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Message Type</mat-label>
              <mat-select name="messageType" [(ngModel)]="filter.messageType" id="messagetype_id"
                          (selectionChange)="onMessageTypeChanged($event)" advanced-filter-behaviour [parent]="this">
                <mat-option *ngFor="let type of msgTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Notification Status</mat-label>
              <mat-select [disabled]="!searchUserMessages" [(ngModel)]="filter.notificationStatus" class="optionField"
                          name="notificationStatus" id="notificationstatus_id" advanced-filter-behaviour [parent]="this">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let nstatus of notifStatus" [value]="nstatus">
                  {{nstatus}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Reference Message Id</mat-label>
              <input matInput name="refToMessageId" [(ngModel)]="filter.refToMessageId"
                     id="referencemessageid_id" advanced-filter-behaviour [parent]="this">
            </mat-form-field>

            <br/>
            <mat-checkbox *ngIf="advancedSearch" name="detailedSearch" id="detailedSearch_id"
                          [(ngModel)]="detailedSearch" (change)="detailedSearchChanged()"
                          advanced-filter-behaviour [parent]="this" style="margin-right: 20px;">
              Detailed Search
            </mat-checkbox>

            <ng-container *ngIf="advancedSearch">
              <mat-form-field *ngIf="advancedSearch">
                <mat-label>Original Sender</mat-label>
                <input matInput [disabled]="!detailedSearch" name="originalSender" [(ngModel)]="filter.originalSender"
                       id="originalsender_id" advanced-filter-behaviour [parent]="this">
              </mat-form-field>

              <mat-form-field *ngIf="advancedSearch">
                <mat-label>Final Recipient</mat-label>
                <input matInput [disabled]="!detailedSearch" name="finalRecipient" [(ngModel)]="filter.finalRecipient"
                        id="finalrecipient_id" advanced-filter-behaviour [parent]="this">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Action</mat-label>
                <input matInput [disabled]="!detailedSearch" name="action" [(ngModel)]="filter.action"
                       id="action_id" advanced-filter-behaviour [parent]="this">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Service Type</mat-label>
                <input matInput [disabled]="!detailedSearch" name="serviceType" [(ngModel)]="filter.serviceType"
                       id="serviceType_id" advanced-filter-behaviour [parent]="this">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Service Value</mat-label>
                <input matInput [disabled]="!detailedSearch" name="serviceValue" [(ngModel)]="filter.serviceValue"
                       id="serviceValue_id" advanced-filter-behaviour [parent]="this">
              </mat-form-field>

              <br/>
              <mat-checkbox name="testMessage" id="showTestMessages_id" [(ngModel)]="filter.testMessage"
                            advanced-filter-behaviour [parent]="this">
                Show Only Test Messages
              </mat-checkbox>

            </ng-container>

            <filter-area-footer [parent]="this" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <grid-header [parent]="this"></grid-header>

  <div class="domibus-grid-container">
    <page-grid [parent]="this" [selectionType]="'multi'" [totalMessage]="totalRowsMessage"
               [sortedColumns]="sortedColumns"></page-grid>
  </div>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value| domibusDate}}</span>
  </ng-template>

  <ng-template #nextAttemptInfoTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{showNextAttemptInfo(row) ? value : ''}}</span>
  </ng-template>

  <ng-template #nextAttemptInfoWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{showNextAttemptInfo(row) ? (row | domibusFutureDate) : ''}}</span>
  </ng-template>

  <ng-template #rawTextTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value}}</span>
  </ng-template>

  <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
    <div style="width: 200px;">
      <button mat-icon-button color="primary" [disabled]="!row.canDownloadMessage" button-click-behaviour
              (click)="downloadAction(row)" id="downloadButtonRow{{rows.indexOf(row)}}_id" matTooltip="Download">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button color="primary"  [disabled]="!row.canDownloadEnvelope" button-click-behaviour
              (click)="downloadEnvelopeAction(row)" id="downloadEnvelopesButtonRow{{rows.indexOf(row)}}_id"
              matTooltip="Download Envelopes">
        <mat-icon>local_post_office</mat-icon>
      </button>
      <button mat-icon-button color="primary" *ngIf="isCurrentUserAdmin()"
              [disabled]="!isResendButtonEnabledAction(row)" (click)="resendDialog()"
              id="resendButtonRow{{rows.indexOf(row)}}_id" matTooltip="Resend" button-click-behaviour>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </ng-template>

  <div class="group-action-button">
    <button mat-raised-button color="primary" [disabled]="!isDownloadButtonEnabled()" (click)="download()"
            id="downloadbutton_id" button-click-behaviour>
      <mat-icon>file_download</mat-icon>
      <span>Download</span>
    </button>
    <button mat-raised-button color="primary" *ngIf="isCurrentUserAdmin()" [disabled]="!isResendButtonEnabled()"
            (click)="resendDialog()"
            id="resendbutton_id" button-click-behaviour>
      <mat-icon>send</mat-icon>
      <span>Resend</span>
    </button>
    <button mat-raised-button color="primary" *ngIf="isCurrentUserAdmin()" [disabled]="!isResendAllButtonEnabled()"
            (click)="resendAllDialog()"
            id="resendallbutton_id" button-click-behaviour>
      <mat-icon>send</mat-icon>
      <span>Resend All</span>
    </button>
    <button mat-raised-button color="primary" *ngIf="isCurrentUserAdmin()" [disabled]="!isResendSelectedButtonEnabled()"
            (click)="resendSelectedDialog()"
            id="resendSelectedButton_id" button-click-behaviour>
      <mat-icon>send</mat-icon>
      <span>Resend Selected</span>
    </button>
  </div>

</div>
