﻿<div class="domibus-page">
  <page-header id="pmodeheader_id">PMode - Current</page-header>

  <div [hidden]="!pModeExists" class="domibus-grid-container">
    <div style="height: 100%; overflow-y: auto; overflow-x: hidden; margin-top: 10px;" id="editor_id"></div>
  </div>

  <div *ngIf="!pModeExists" class="pModeInfo" style="height: calc(100% - 60px);">
    <span>No PMode uploaded yet</span>
  </div>

  <div class="group-action-button">
    <button mat-raised-button id="cancelButtonId" color="primary" (click)="cancel()" [disabled]="!canCancel()"
            button-click-behaviour>
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
    <button mat-raised-button id="saveButtonId" color="primary" (click)="save()" [disabled]="!canSave()"
            button-click-behaviour>
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>

    <button mat-raised-button id="uploadButtonId" color="primary" (click)="upload()" [disabled]="!canUpload()"
            button-click-behaviour>
      <mat-icon>file_upload</mat-icon>
      <span>Upload</span>
    </button>
    <button mat-raised-button id="downloadButtonId" color="primary" (click)="download(current)"
            [disabled]="!canDownload()" button-click-behaviour>
      <mat-icon>file_download</mat-icon>
      <span>Download</span>
    </button>
  </div>

</div>
