<div style="width: 500px; margin: 20px;">
  <h2 mat-dialog-title>{{formTitle}}</h2>
  <form #editForm="ngForm" (submit)="submitForm()">
    <mat-card appearance="outlined">
      <mat-form-field>
        <mat-label>Plugin</mat-label>
        <mat-select matInput id="backendfilter_id" name="plugin" [(ngModel)]="entity.backendName"
                    [style.width]="'100%'">
          <mat-option *ngFor="let bConn of backendConnectors" [value]="bConn.name">
            {{bConn.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field [style.width]="'100%'">
        <mat-label>From</mat-label>
        <input matInput name="from" id="from_id" [(ngModel)]="criteria.from" input-debounce #from="ngModel"
               [pattern]="partyPattern" [maxLength]="textMaxLength">
        <span class="help-block" *ngIf="shouldShowErrors(from)">
            <div *ngIf="from.errors?.pattern" style="color:red; font-size: 70%">{{partyPatternMessage}}</div>
          </span>
        </mat-form-field>

      <mat-form-field [style.width]="'100%'">
        <mat-label>To</mat-label>
        <input matInput name="to" id="to_id" [(ngModel)]="criteria.to" input-debounce #to="ngModel"
               [pattern]="partyPattern" [maxLength]="textMaxLength">
        <span class="help-block" *ngIf="shouldShowErrors(to)">
            <div *ngIf="to.errors?.pattern" style="color:red; font-size: 70%">{{partyPatternMessage}}</div>
          </span>
        </mat-form-field>

      <mat-form-field [style.width]="'100%'">
        <mat-label>Action</mat-label>
        <input matInput name="action" id="action_id" [(ngModel)]="criteria.action" input-debounce #action="ngModel"
               [pattern]="actionPattern" [maxLength]="textMaxLength">
        <span class="help-block" *ngIf="shouldShowErrors(action)">
            <div *ngIf="action.errors?.pattern" style="color:red; font-size: 70%">{{actionPatternMessage}}</div>
          </span>
        </mat-form-field>

      <mat-form-field [style.width]="'100%'">
        <mat-label>Service</mat-label>
        <input matInput name="service" id="service_id" [(ngModel)]="criteria.service" input-debounce #service="ngModel"
               [pattern]="servicePattern" [maxLength]="textMaxLength">
        <span class="help-block" *ngIf="shouldShowErrors(service)">
            <div *ngIf="service.errors?.pattern" style="color:red; font-size: 70%">{{servicePatternMessage}}</div>
          </span>
        </mat-form-field>

      <popup-edit-footer [parent]="this"></popup-edit-footer>

    </mat-card>
  </form>
</div>
