
/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
  width: 100% !important;
}

.mat-mdc-form-field, mat-select {
  width: 80% !important;
}

.receiver-party {
  font-size: larger;
  font-weight: bolder;
  margin: 16px 0;
  display: block;
}


