::ng-deep .highlighted-row .datatable-body-cell {
  color: red !important;
}

::ng-deep .warnNearExpiry .datatable-body-cell {
  color: darkorange !important;
}

::ng-deep ngx-datatable > div {
  display: block;
  height: 100%;
}

::ng-deep .ngx-datatable .datatable-body {
  height: calc(100% - 100px) !important;
  overflow: hidden auto;
}

