﻿<div class="edit-form-buttons">
  <button mat-raised-button color="primary" id="editbuttonok_id" type="submit"
          [disabled]="parent.isFormDisabled() || disabled">
    <mat-icon>check_circle</mat-icon>
    <span>OK</span>
  </button>
  <button mat-raised-button color="primary" id="editbuttoncancel_id" type="reset" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    <span>Cancel</span>
  </button>
</div>
<div class="required-fields">* required fields</div>
