<div style="margin: 20px;">
<h1 id="messageDialogTitle" mat-dialog-title>
  Click on "Ok" to confirm that you want to move the selected messages<br>
  WARNING: This operation will be executed immediately and cannot be reverted.<br>
  Click on "Cancel" to leave the message untouched.
</h1>

  <div style="width:100%;margin-bottom: 15px;">
    <mat-form-field>
      <mat-label>Destination</mat-label>
      <mat-select [(ngModel)]="selectedSource" name="jmsQueueSelector" id="jmsqueuedestination_id"
                  style="width:100%" disabled={{destinationsChoiceDisabled}}>
        <mat-option *ngFor="let queue of queues" [value]="queue" style="width:95%">
          {{queue.internal ? "[internal]" :""}} {{queue.name}} {{queue.numberOfMessages != -1 ? "(" + queue.numberOfMessages + ")" : ""}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell" style="width:50%">
        <button id="messageDialogResendButton" mat-raised-button color="primary"
                (click)="dialogRef.close({destination:selectedSource.name})" [disabled]="!canOk()">
          <mat-icon>check_circle</mat-icon>
          <span>OK</span>
        </button>
      </div>
      <div class="divTableCell" style="width:50%">
        <button id="messageDialogCancelButton" mat-raised-button color="primary" (click)="dialogRef.close({})">
          <mat-icon>cancel</mat-icon>
          <span>Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
