<div class="domibus-page">
  <page-header id="partyHeader_id">PMode - Parties</page-header>

  <div class="selectionCriteria">
    <mat-card appearance="outlined">
      <mat-card-content>
        <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">
          <div class="panel">
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select [(ngModel)]="filter.type" name="type" id="type_id">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{type.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="filter.name" name="name" id="name_id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>End Point</mat-label>
              <input matInput [(ngModel)]="filter.endPoint" name="endPoint" id="endPoint_id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Party Id</mat-label>
              <input matInput [(ngModel)]="filter.partyID" name="partyID" id="partyID_id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Process</mat-label>
              <input matInput [(ngModel)]="filter.process" name="process" id="process_id">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Process Role</mat-label>
              <mat-select [(ngModel)]="filter.process_role" name="process_role"
                          id="process_role_id" style="margin-right: 0;">
                <mat-option [value]=""></mat-option>
                <mat-option [value]="'(I)'">I</mat-option>
                <mat-option [value]="'(R)'">R</mat-option>
                <mat-option [value]="'(IR)'">IR</mat-option>
              </mat-select>
            </mat-form-field>

            <filter-area-footer [parent]="this" [form]="filterForm" [isAdvancedVisible]="false"></filter-area-footer>

          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

    <grid-header [parent]="this"></grid-header>

    <div class="domibus-grid-container">
      <page-grid [parent]="this" [selectionType]="'single'" [sortedColumns]="[{prop: 'type', dir: 'desc'}]"></page-grid>
    </div>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value| domibusDate}}</span>
  </ng-template>

  <ng-template #partyTypeTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value == true ? 'DYNAMIC' : 'STATIC'}}</span>
  </ng-template>

    <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
      <button mat-icon-button (click)="edit(row)" [disabled]="!canEditRow(row)"
              color="primary" matTooltip="Edit" button-click-behaviour>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteRow(row)" color="primary"
              matTooltip="Delete" button-click-behaviour>
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>

    <page-footer [parent]="this" [editText]="getEditText()"></page-footer>
</div>
