<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content style="width:450px;">

  <form [formGroup]="truststoreForm" (submit)="submit()">
    <mat-card appearance="outlined">
      <mat-card-content>

        <p>{{data.description}}</p>

        <label class="custom-file-upload">
          <input #fileInput type="file" id="truststore" accept=".jks,.p12,.pfx" (change)="selectFile()" style="display: none;">
          <span class="custom-file-upload-inner">Choose File </span>
        </label>
        {{selectedFileName}}

        <mat-form-field class="password" style="margin-top: 20px;">
          <mat-label>Password</mat-label>
          <input matInput id="password_id"  name="password" type="password" #passwordField
                 [formControl]="truststoreForm.controls['password']" required="true">
          <span class="help-block" *ngIf="shouldShowErrors(truststoreForm.controls['password'])">
              <div *ngIf="truststoreForm.controls['password'].errors?.required" class="error">Password is required</div>
          </span>
        </mat-form-field>

        <div style="color: red; font-weight: bold; margin-top: 15px;">
           <mat-checkbox name="allowChangingDiskStoreProps" [formControl]="truststoreForm.controls['allowChangingDiskStoreProps']"
                         [matTooltip]="'Checking this will allow to change disk store properties like type and password, in case they are different!'">
            Allow Changing Disk Store Properties
          </mat-checkbox>
        </div>

      </mat-card-content>
    </mat-card>

    <div class="buttonsRow">
      <button type="submit" id="okbuttonupload_id" class="button" mat-raised-button color="primary"
              [disabled]="!isFormValid()">
        <mat-icon>check_circle</mat-icon>
        <span>OK</span>
      </button>
      <button type="button" id="cancelbuttonupload_id" class="button" mat-raised-button color="primary" (click)="dialogRef.close(null)">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </div>

    <div class="legend">* required fields</div>
  </form>
</mat-dialog-content>




