.textarea {
  margin: 0;
  padding: 0;
  height: 35vw;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.pModeInfo {
  font-size: 110%;
}

#xmlTab {
  font-family: 'Open Sans', sans-serif;
}

label:hover, label:active, input:hover + label, input:active + label {
  color: #3f51b5;
}

.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}

.divTableCell, .divTableHead {
  display: table-cell;
  padding: 3px 3px;
  text-align: center;
}

.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}

.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}
