/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
  width: 100% !important;
}

.property-value {
  border: solid 1px transparent;
  padding: 0 4px;
  width: calc(100% - 100px);
}

.property-value:focus, .property-value:hover {
  background-color: white;
  border-color: cornflowerblue;
}

.property-edit {
  position: relative;
}

.property-view {
  position: relative;
}

.property-edit-buttons.disabled button {
  color: silver;
}

.large-search-field {
  width: 500px;
}

.small-search-field {
  width: 30%;
}

.field-spacing {
  margin-right: 30px;
}

.wrong-value {
  border: solid 0.5px red;
  color: red;
}

.property-edit-buttons {
  /*margin-top: -4px;*/
  position: absolute;
  top: -6px;
  right: 0;
}
.property-edit-buttons mat-icon {
  padding-top: 3px;
}

::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .mat-mdc-icon-button {
  /*height: inherit !important;*/
  margin-top: 0px !important;
  padding-bottom: 0;
  padding-top: 0px;
}
