<div class="domibus-page">
  <page-header id="propertiesheader_id">Properties</page-header>

  <div class="selectionCriteria">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">

            <span>
              <mat-form-field class="large-search-field">
                <mat-label>Property Name...</mat-label>
                <input matInput id="filterPropertyName_id" name="filterPropertyName" [(ngModel)]="filter.name">
              </mat-form-field>
            </span>

            <span *ngIf="showGlobalPropertiesControl" class="field-spacing">
              <ng-container>
                <mat-checkbox id="includeSuperProperties_id" name="includeSuperProperties" [(ngModel)]="filter.showDomain">
                  Domain
                </mat-checkbox>
              </ng-container>
            </span>

            <span class="field-spacing">
              <tri-state-checkbox name="filterIsWritable" [(ngModel)]="filter.writable">Writable</tri-state-checkbox>
            </span>

            <span *ngIf="advancedSearch">
              <br>
              <mat-form-field class="small-search-field">
                <mat-label>Property Type...</mat-label>
                <input matInput id="filterPropertyType_id" name="type" [(ngModel)]="filter.type" advanced-filter-behaviour [parent]="this">
              </mat-form-field>

              <mat-form-field class="small-search-field">
                <mat-label>Property Module...</mat-label>
                <input matInput id="filterPropertyModule_id" name="module" [(ngModel)]="filter.module" advanced-filter-behaviour [parent]="this">
              </mat-form-field>

              <mat-form-field class="large-search-field">
                <mat-label>Property Value...</mat-label>
                <input matInput id="filterPropertyValue_id" name="value" [(ngModel)]="filter.value" advanced-filter-behaviour [parent]="this">
              </mat-form-field>
            </span>

            <filter-area-footer [parent]="this" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <grid-header [parent]="this"></grid-header>

  <div class="domibus-grid-container">
    <page-grid [parent]="this"  [sortedColumns]="[{prop: 'name', dir: 'asc'}]"></page-grid>
  </div>

  <ng-template #propertyValueTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <div class="input-group property-view" *ngIf="row.composable">
      <button mat-icon-button [disabled]="!row.writable" (click)="addNewNestedProperty(row)" button-click-behaviour style="float: right;">
        <mat-icon matTooltip="New" matTooltipPosition="above">note_add</mat-icon>
      </button>
    </div>
    <div class="input-group property-view" *ngIf="!row.writable">
      <span [class.wrong-value]="row.value != null && row.originalValue != row.usedValue">{{row.value}}</span>

      <button mat-icon-button *ngIf="row.type == 'PASSWORD'" button-click-behaviour [matTooltip]="!row.passwordVisible?'See password':'Hide password'"
              (click)="toggleViewPassword(row)" style="display: inline-block; float: right;">
        <mat-icon matTooltipPosition="above">{{!row.passwordVisible ? 'visibility': 'visibility_off'}}</mat-icon>
      </button>

      <div *ngIf="row.originalValue != row.usedValue" style="margin-top: 5px;">
        <mat-icon matTooltip="This is the value actually used in Domibus."
                  style="vertical-align: bottom;color: red;">error</mat-icon>
        <div style="display: inline-block;"> Actual value: {{row.usedValue}}</div>
      </div>

    </div>

    <div class="input-group property-edit" *ngIf="canWriteProperty(row)">
      <input matInput [type]="row.type == 'PASSWORD' && !row.passwordVisible ?'password':'text'" autocomplete="off" class="form-control property-value" [class.wrong-value]="row.originalValue != row.usedValue"
             [(ngModel)]="row.value"
             (focus)="onPropertyValueFocus(row)"
             (blur)="onPropertyValueBlur(row)"
             (keydown.enter)="updateProperty(row)"
             (keydown.escape)="revertProperty(row)"
      >

      <div class="property-edit-buttons">
        <button mat-icon-button *ngIf="row.type == 'PASSWORD'" button-click-behaviour [matTooltip]="!row.passwordVisible?'See password':'Hide password'"
                (click)="toggleViewPassword(row)">
          <mat-icon matTooltipPosition="above" >{{!row.passwordVisible ? 'visibility': 'visibility_off'}}</mat-icon>
        </button>

          <button mat-icon-button (click)="updateProperty(row)" [disabled]="!canUpdate(row)" matTooltip="Save" button-click-behaviour>
            <mat-icon matTooltipPosition="above">save</mat-icon>
          </button>

          <button mat-icon-button (click)="revertProperty(row)" [disabled]="!canUpdate(row)" matTooltip="Undo" button-click-behaviour>
            <mat-icon matTooltipPosition="above">undo</mat-icon>
          </button>
        </div>

      <div *ngIf="row.originalValue != row.usedValue" style="margin-top: 5px;">
        <mat-icon (click)="syncValues(row)" matTooltip="This is the value actually used in Domibus. Click to fix in file."
                  style="vertical-align: bottom;color: red; cursor: pointer;">error</mat-icon>
        <div style="display: inline-block;"> Actual value: {{row.usedValue}}</div>
      </div>
    </div>

  </ng-template>

</div>
