<div class="domibus-page">
  <page-header id="alertsheader_id" >Alerts</page-header>

  <div class="selectionCriteria">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (submit)="tryFilter()">

            <!-- Processed -->
            <mat-form-field>
              <mat-label>Processing Type</mat-label>
              <mat-select [(ngModel)]="filter.processed" name="processed" id="processed_id">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let aprocessed of aProcessedValues" [value]="aprocessed">
                  {{aprocessed}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Alert Type (Basic) -->
            <mat-form-field>
              <mat-label>Alert Type</mat-label>
              <mat-select [(ngModel)]="filter.alertType" name="alertType" id="alerttype_id" (selectionChange)="onAlertTypeChanged(filter.alertType)">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let atype of aTypes" [value]="atype">
                  {{atype}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Alert Status</mat-label>
              <mat-select [(ngModel)]="filter.alertStatus" name="alertStatus" id="alertstatus_id">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let aStatus of aStatuses" [value]="aStatus">
                  {{aStatus}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Alert Id (Advanced) -->
            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Alert Id</mat-label>
              <input matInput name="alertId" [(ngModel)]="filter.alertId"
                     #alertId="ngModel" id="alertid_id" pattern="[1-9]{1}[0-9]{0,18}" [errorStateMatcher]="matcher"
                     advanced-filter-behaviour [parent]="this">
              <mat-error *ngIf="alertId.invalid && (alertId.dirty || alertId.touched)">Alert Id must be 19 digits long
                and must not start with a 0
              </mat-error>
            </mat-form-field>

            <!-- Alert Level (Basic) -->
            <mat-form-field>
              <mat-label>Alert Level</mat-label>
              <mat-select [(ngModel)]="filter.alertLevel" name="alertLevel" id="alertlevel_id">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let alevel of aLevels" [value]="alevel">
                  {{alevel}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Creation From</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedFrom" id="creationfrom_id" name="creationFrom"
                     [ngModel]="filter.creationFrom" (ngModelChange)='onTimestampCreationFromChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [max]="creationFromMaxDate">
              <mat-datepicker-toggle matSuffix [for]="receivedFrom" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedFrom>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Creation To</mat-label>
              <input matInput [ngxMatDatetimePicker]="receivedTo" id="creationto_id" name="creationTo"
                     [ngModel]="filter.creationTo" (ngModelChange)='onTimestampCreationToChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [min]="creationToMinDate" [max]="creationToMaxDate">
              <mat-datepicker-toggle matSuffix [for]="receivedTo" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #receivedTo>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <ng-container *ngIf="displayDomainCheckBox">
              <mat-checkbox name="showDomainAlerts" [(ngModel)]="filter.domainAlerts" id="showDomainAlerts_id"
                            style="margin-right: 20px;">
                Show domain alerts
              </mat-checkbox>
            </ng-container>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Reporting From</mat-label>
              <input matInput [ngxMatDatetimePicker]="reportingFrom" id="reportingfrom_id" name="reportingFrom"
                     [ngModel]="filter.reportingFrom" (ngModelChange)='onTimestampReportingFromChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [max]="reportingFromMaxDate" advanced-filter-behaviour [parent]="this">
              <mat-datepicker-toggle matSuffix [for]="reportingFrom" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #reportingFrom>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-form-field *ngIf="advancedSearch">
              <mat-label>Reporting To</mat-label>
              <input matInput [ngxMatDatetimePicker]="reportingTo" id="reportingto_id" name="reportingTo"
                     [ngModel]="filter.reportingTo" (ngModelChange)='onTimestampReportingToChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                     [min]="reportingToMinDate" [max]="reportingToMaxDate" advanced-filter-behaviour [parent]="this">
              <mat-datepicker-toggle matSuffix [for]="reportingTo" ></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #reportingTo>
                <ngx-mat-datepicker-actions>
                  <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                </ngx-mat-datepicker-actions>
              </ngx-mat-datetime-picker>
            </mat-form-field>

            <!-- Alert Type Criteria -->
            <div class="panel" *ngIf="filter.alertType">
              <mat-card appearance="outlined">
                <div>
                  <mat-card-title>
                    {{filter.alertType}}
                  </mat-card-title>
                </div>
                <mat-card-content>
                  <mat-form-field *ngFor="let item of nonDateParameters; let i = index">
                    <mat-label>{{item}}</mat-label>
                    <input matInput name={{item}} [(ngModel)]="dynamicFilters[i]" #{{item}}="ngModel" id={{item}}_id>
                  </mat-form-field>
                  <span *ngIf="alertTypeWithDate">
                                <mat-form-field>
                                  <mat-label>{{dateFromName}} </mat-label>
                                  <input matInput [ngxMatDatetimePicker]="dynamicDatesFilterFrom" id={{dateFromName}}_id name="from"
                                         [ngModel]="dynamicDatesFilter.from" (ngModelChange)='onDynamicDataFromChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                                         [max]="dynamicDataFromMaxDate">
                                  <mat-datepicker-toggle matSuffix [for]="dynamicDatesFilterFrom" ></mat-datepicker-toggle>
                                  <ngx-mat-datetime-picker #dynamicDatesFilterFrom>
                                    <ngx-mat-datepicker-actions>
                                      <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                                    </ngx-mat-datepicker-actions>
                                  </ngx-mat-datetime-picker>
                                </mat-form-field>

                                <mat-form-field>
                                  <mat-label>{{dateToName}}</mat-label>
                                  <input matInput [ngxMatDatetimePicker]="dynamicDatesFilterTo" id={{dateToName}}_id name="To"
                                         [ngModel]="dynamicDatesFilter.to" (ngModelChange)='onDynamicDataToChange($event)' [ngModelOptions]="{ updateOn: 'blur' }"
                                         [min]="dynamicDataToMinDate" [max]="dynamicDataToMaxDate">
                                  <mat-datepicker-toggle matSuffix [for]="dynamicDatesFilterTo" ></mat-datepicker-toggle>
                                  <ngx-mat-datetime-picker #dynamicDatesFilterTo>
                                    <ngx-mat-datepicker-actions>
                                      <button mat-icon-button ngxMatDatepickerApply><mat-icon>check</mat-icon></button>
                                    </ngx-mat-datepicker-actions>
                                  </ngx-mat-datetime-picker>
                                </mat-form-field>
                  </span>
                </mat-card-content>
              </mat-card>
            </div>

            <filter-area-footer [parent]="this" [form]="filterForm"></filter-area-footer>

          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <grid-header [parent]="this"></grid-header>

  <div class="domibus-grid-container">
    <page-grid [parent]="this" [selectionType]="'multi'"></page-grid>
  </div>

  <ng-template #rowProcessed let-row="row" let-value="value" ngx-datatable-cell-template>
    <mat-checkbox autofocus id="processed{{rows.indexOf(row)}}_id" [(ngModel)]="row.processed"
                  (click)="setProcessedValue(row)" [disabled]="row.deleted || isLoading">
    </mat-checkbox>
  </ng-template>

  <ng-template #rowWithDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value| domibusDate}}</span>
  </ng-template>

  <ng-template #rowWithFutureDateFormatTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{row | domibusFutureDate}}</span>
  </ng-template>

  <ng-template #rowWithSpaceAfterCommaTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <span class="text-select">{{value.join(', ')}}</span>
  </ng-template>

  <ng-template #rowActions let-row="row" let-value="value" ngx-datatable-cell-template>
    <button id="alertsDeleteButtonRow{{rows.indexOf(row)}}_id" mat-icon-button [disabled]="row.deleted || isLoading"
            (click)="buttonDeleteAction(row)" color="primary"
            matTooltip="Delete" button-click-behaviour>
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>

  <page-footer [parent]="this" [isEditVisible]="false" [isAddVisible]="false"></page-footer>

</div>
