﻿<div id="page" class="logout-page">
  <div id="formContainer">
      <table cellspacing="30" cellpadding="10">
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            You have been logged out from Domibus. <br><br>
            Click here to login again. <br><br>
            <button mat-raised-button color="primary"  id="loginagainbutton_id"
                    button-click-behaviour (click)="login_again()">
              <mat-icon>input</mat-icon>
              <span>Login</span>
            </button>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </table>
  </div>
</div>

