<div style="width:100%;margin-top: 150px;">
  <div style="width:30%;margin: 0 auto; min-width: 300px;">
    <p class="domibusTextSmall" style="margin:0;font-weight: bold">Change Password</p>
    <form #userForm="ngForm" (ngSubmit)="submitForm()" userCrossFieldValidators>
      <mat-card appearance="outlined">

        <div style="margin-top:15px;">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Current Password</mat-label>
            <input matInput name="currentPassword" id="currentPassword_id" type="password" required
                   [(ngModel)]="currentPassword" #currentPass="ngModel" input-debounce autocomplete="current-password">
            <span class="help-block" *ngIf="shouldShowErrors(currentPass)">
              <div *ngIf="currentPass.errors?.required" style="color:red; font-size: 70%">You should type the current password</div>
            </span>
          </mat-form-field>
        </div>

        <mat-form-field [style.width]="'100%'">
          <mat-label>New Password</mat-label>
          <input matInput name="password" id="newPassword_id" type="password" required
                 [(ngModel)]="password" [pattern]="passwordPattern" #newPass="ngModel" input-debounce autocomplete="new-password">
          <span class="help-block" *ngIf="shouldShowErrors(newPass)">
              <div *ngIf="newPass.errors?.required" style="color:red; font-size: 70%">You should type a new password</div>
              <div *ngIf="newPass.errors?.pattern" style="color:red; font-size: 70%">
                Password should follow all of these rules:<br>
                <div [innerHTML]="passwordValidationMessage"></div>
              </div>
            </span>
        </mat-form-field>

        <mat-form-field [style.width]="'100%'">
          <mat-label>Confirmation</mat-label>
          <input matInput name="confirmation" id="confirmation_id" type="password" required
                 [(ngModel)]="passwordConfirmation" #confirmation="ngModel" input-debounce autocomplete="new-password">
          <span class="help-block" *ngIf="shouldShowErrors(confirmation) || shouldShowErrors(userForm)">
              <div *ngIf="confirmation.errors?.required" style="color:red; font-size: 70%">You should type the confirmation</div>
              <div *ngIf="userForm.errors?.match" style="color:red; font-size: 70%">Passwords do not match</div>
            </span>
        </mat-form-field>

        <div style="text-align: right; font-size: 70%">* required fields</div>
      </mat-card>

      <button mat-raised-button color="primary" id="editbuttonok_id" [disabled]="isFormDisabled()" button-click-behaviour
              style="display: inline-block; width: 120px;">
        <mat-icon>check_circle</mat-icon>
        <span>Update</span>
      </button>

      <button type="button" mat-raised-button color="primary" id="cancel_id" (click)="onCancelClick()"
              button-click-behaviour style="display: inline-block; width: 120px; margin-left: 20px;">
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
      </button>
    </form>
  </div>
</div>
