<h2 mat-dialog-title>Message details</h2>
<mat-dialog-content style="height:460px;width:650px">
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-form-field style="width:100%">
        <mat-label>Message Id</mat-label>
        <input matInput value="{{message.messageId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>From Party Id</mat-label>
        <input matInput value="{{message.fromPartyId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>To Party Id</mat-label>
        <input matInput  value="{{message.toPartyId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Message Status</mat-label>
        <input matInput  value="{{message.messageStatus}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Notification Status</mat-label>
        <input matInput  value="{{message.notificationStatus}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Received</mat-label>
        <input matInput  value="{{message.received | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Downloaded</mat-label>
        <input matInput  value="{{message.downloaded | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Acknowledged</mat-label>
        <input matInput  value="{{message.acknowledged | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>AP Role</mat-label>
        <input matInput  value="{{message.mshRole}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Send Attempts</mat-label>
        <input matInput  value="{{message.sendAttempts}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Send Attempts Max</mat-label>
        <input matInput  value="{{message.sendAttemptsMax}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Next Attempt</mat-label>
        <input matInput  value="{{message | domibusFutureDate }}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Conversation Id</mat-label>
        <input matInput  value="{{message.conversationId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Message Type</mat-label>
        <input matInput  value="{{message.messageType}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Exported</mat-label>
        <input matInput  value="{{message.exported | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Archived</mat-label>
        <input matInput  value="{{message.archived | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Deleted</mat-label>
        <input matInput  value="{{message.deleted | domibusDate }}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Failed</mat-label>
        <input matInput  value="{{message.failed | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Restored</mat-label>
        <input matInput  value="{{message.restored | domibusDate}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Original Sender</mat-label>
        <input matInput  value="{{message.originalSender}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Final Recipient</mat-label>
        <input matInput  value="{{message.finalRecipient}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Ref To Message Id</mat-label>
        <input matInput  value="{{message.refToMessageId}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Action</mat-label>
        <input matInput  value="{{message.action}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Service Type</mat-label>
        <input matInput  value="{{message.serviceType}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Service Value</mat-label>
        <input matInput  value="{{message.serviceValue}}" readonly/>
      </mat-form-field>

      <mat-form-field style="width:100%">
        <mat-label>Plugin Type</mat-label>
        <input matInput  value="{{message.pluginType}}" readonly/>
      </mat-form-field>

    </mat-card-content>
  </mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button id="messageLogDetailsCloseButton" mat-raised-button color="primary" (click)="dialogRef.close({})"
          style="margin-top:10px">
    <mat-icon>close</mat-icon>
    <span>Close</span>
  </button>
</mat-dialog-actions>

