﻿<div class="domibus-page">
  <page-header id="loggingheader_id">{{name}}</page-header>

  <div class="selectionCriteria">
    <mat-card appearance="outlined">
      <mat-card-content>

        <div class="panel">
          <form name="filterForm" #filterForm="ngForm" (ngSubmit)="tryFilter()">

            <mat-form-field style="width: 50%;">
              <mat-label>Package or class name</mat-label>
              <input matInput name="packageClassName" [(ngModel)]="filter.loggerName" #loggerName="ngModel" id="loggerName_id"
                     matTooltip="Enter here the package name e.g. 'eu.domibus' or 'ROOT' or part of the name" >
            </mat-form-field>
            <mat-checkbox name="showClasses" [(ngModel)]="filter.showClasses" #showClasses="ngModel"
                          id="showClasses_id" style="margin-left: 20px;">
              Show Classes
            </mat-checkbox>

            <div class="searchArea" style="position: relative;">

              <filter-area-footer [parent]="this" [isAdvancedVisible]="false" [form]="filterForm"></filter-area-footer>

              <button mat-raised-button color="primary" id="resetbutton_id" (click)="resetLogging()"
                      style="position: absolute;right: 0;top: 0;"
                      matTooltip="Click to reset logging configuration"
                      type="button">
                <mat-icon>cached</mat-icon>
                <span>Reset Logger Level</span>
              </button>

            </div>
          </form>

        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="group-filter-button" style="width: 200px;">
    <span class="row-button">
      <app-row-limiter [pageSizes]="rowLimiter.pageSizes"
                       (onPageSizeChanged)="changePageSize($event.value)"></app-row-limiter>
    </span>
  </div>

  <div class="domibus-grid-container">
    <page-grid [parent]="this" [selectionType]="null"></page-grid>
  </div>

  <ng-template #rowWithToggleTpl let-row="row" let-value="value" ngx-datatable-cell-template>
    <mat-button-toggle-group [name]="row.name" (ngModelChange)="onLevelChange($event, row)" [(ngModel)]="row.level">
      <mat-button-toggle *ngFor="let level of levels" [value]="level">
        {{level}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </ng-template>

</div>
