<page-header id="domainsheader_id">Domains</page-header>

<div class="panel"></div>

<button mat-icon-button (click)="refresh()" [disabled]="isBusy()" color="primary"
        button-click-behaviour matTooltip="Reload"
        style="position: absolute;right: 30px;top: 77px;z-index: 999;">
  <mat-icon>cached</mat-icon>
</button>

<page-grid [parent]="this" [selectionType]="'none'"></page-grid>

<ng-template #domainStatus let-row="row" let-value="value" ngx-datatable-cell-template>
  <span class="status-toggle">
    <mat-slide-toggle [(ngModel)]="row.active" (change)="toggleActiveState(row, row.active)" [disabled]="isBusy()"></mat-slide-toggle>
  </span>
</ng-template>


<!-- Confirmation Dialog Template -->
<ng-template #confirmationDialog>
  <h1 mat-dialog-title>Domain: 
    <b>{{domainToConfirm.name}} ({{domainToConfirm.code}})</b>
  </h1>

  <h2 mat-dialog-title>
    Are you sure you want to {{ activeStateToConfirm ? 'enable' : 'disable'}} 
    this domain?  
  </h2> 
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="dialogRef.close(true)" id="okbuttondialog_id">
      <mat-icon>check_circle</mat-icon>
      <span>OK</span>
    </button>

    <button mat-raised-button color="primary" (click)="dialogRef.close(false)" id="cancelbuttondialog_id">
      <mat-icon>cancel</mat-icon>
      <span>Cancel</span>
    </button>
  </mat-dialog-actions>
  <br>
</ng-template>

