@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/@swimlane/ngx-datatable/index.css';
@import '../node_modules/@swimlane/ngx-datatable/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';
@import 'assets/fonts/fonts.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.mat-mdc-dialog-title {
  font-family: 'Open Sans', sans-serif !important;
}

.mat-mdc-button, .mat-mdc-raised-button, .mat-mdc-icon-button {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: bolder !important;
}

.text-select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  word-wrap: break-word !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
div:before,
table:before,
tr:before,
td:before,
form:before,
tbody:before,
mat-card:before,
mat-card-content:before,
.panel:before,
.selectionCriteria:before,
table.buttonsRow:before,
div.buttonsRow:before,
table.buttonsMoveRow,
mat-input-container:before,
ngx-datatable span:before:not([class^="datatable-icon-"]) {
  content: " " !important;
}

/* selection for datatable */
.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}

.ngx-datatable span {
  word-wrap: break-word;
}

/*--------------------------------------------------
    [STRUCTURE]
----------------------------------------------------*/

/* --- CONTAINER --------- */
/*------------------------ */
.mat-sidenav-container {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, .99);
}

/* --- SIDEBAR --------- */
/*---------------------- */
mat-sidenav[_ngcontent-c0] {
  box-shadow: 0px 0px 2px #9B9B9B !important;
}

/* --- Logo ---*/
#topLogoText {
  margin-left: 5px;
  text-align: left;
}

#topLogo {
  vertical-align: middle;
}

#topLogoText h1 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 900;
}

#topLogoText h1 span {
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/* --- Menu ---*/
.mat-sidenav button {
  box-shadow: none;
  border-radius: 0;
  line-height: 50px !important;
  letter-spacing: 1px;
}

.sideNavButton {
  padding-left: 20px !important;
}

/* --- Collapse button ---*/
.collapse-button {
  position: absolute;
  bottom: 0;
}

/* --- EC Logo ---*/
#bottomLogo {
  display: none;
}

/* --- MAIN CONTENT --------- */

.mat-sidenav-content {
  min-height: 100vh;
}

.mat-drawer-content {
  overflow: hidden !important;
  overflow-y: auto !important;
}

/* --- Hamburger Menu ---*/
/*Hamburger wrapper*/
#sandwichMenuHolder {
  position: relative;
  display: block;
}

/*Hamburger button*/
#sandwichMenu {
  position: absolute;
  right: 10px;
  top: 0;
}

#sandwichMenu .mat-mdc-icon-button {
  height: 40px;
  width: 40px;
}

#sandwichMenu .mat-icon.material-icons {
  height: 40px;
  width: 40px;
  font-size: 40px;
  line-height: 1;
}

#sandwichMenu .material-icons:hover {
  color: #03A9F4;
}

/* --- Help button ---*/
.helpMenu {
  position: absolute;
  top: 8px;
  right: 37px;
  width: 50px;
}


/*--------------------------------------------------
    [HEADING]
----------------------------------------------------*/

page-header h1 {
  margin-top: 0 !important;
  margin-bottom: 0px !important;
  font-size: x-large !important;
}

h2 {
  font-size: 36px;
}

/*--------------------------------------------------
    [LINKS]
----------------------------------------------------*/
a {
  text-decoration: none;
}

a,
a:hover,
a:active,
button,
button:hover {
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------
    [PANEL]
----------------------------------------------------*/
.panel {
  padding: 0px 20px;
  background: #FFF;
  /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);*/
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin: 0;
}

.searchArea {
  margin-top: 0px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
.panel mat-select, .panel mat-input-container, .panel md2-datepicker, .panel mat-select {
  margin-right: 2%;
}

@media (max-width: 991px) {
  /* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
  .panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
    width: 46%;
  }
}

@media (max-width: 767px) {
  /* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
  .panel mat-input-container, .panel mat-select, .panel md2-datepicker, .panel mat-select {
    width: 100%;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.mat-select-menu-container,
.mat-mdc-select-panel {
  z-index: 99999 !important;
}

/* --- GROUP BUTTON FILTER ---*/
.group-filter-button {
  position: relative;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 5px;
}

.column-filter-button a.hide-show-column {
  position: absolute;
  top: 20px;
  right: 0;
}

.all-none-selection {
  padding-top: 10px;
  padding-left: 10px;
}

.all-none-selection a {
  margin-right: 10px;
}

.all-none-selection a:last-child {
  margin-right: 0;
}

/* --- GROUP BUTTON ACTION ---*/
.group-action-button {
  margin-top: 10px;
  display: inline-block;
}

.group-action-button button {
  margin-right: 10px;
}

/* --- TABS --- */
.md2-tab-ink-bar {
  background-color: #03A9F4 !important;
}

/*--------------------------------------------------
    [TABLE]
----------------------------------------------------*/
.ngx-datatable.material {
  background: #FFF;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-mdc-form-field {
  display: inline-block;
  width: 22%;
  margin-right: 30px;
}

.mat-icon {
  margin-right: 10px;
}

.mat-mdc-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  font-size: 16px;
}

.buttonsRow button {
  margin-right: 16px;
}

.buttonsRow button:last-child {
  margin-right: 0;
}

.md2-datepicker-placeholder {
  z-index: 1;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-mdc-form-field-appearance-legacy .mat-mdc-form-field-underline {
  height: 0.05em !important;
  background-color: lightgray !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .mat-mdc-icon-button {
  height: 30px !important;
  margin-top: -10px !important;
}

.mat-mdc-snack-bar-container {
  max-width: 50vw !important;
}

.mat-mdc-snack-bar-container.error {
  background-color: #f44336 !important;
}

.mat-mdc-snack-bar-container.success {
  background-color: forestgreen !important;
}

.mat-mdc-snack-bar-container.warning {
  background-color: orange !important;
}

.mat-mdc-snack-bar-container.info {
  background-color: #2196F3 !important;
}

.mat-mdc-simple-snack-bar {
  color: white !important;
  font-size: 16px !important;
}

html, body, app-root, ng-component {
  height: 100%;
  overflow-y: hidden;
}

.full-height {
  height: 100%;
  overflow-y: hidden;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #2196f3;
}

.custom-file-upload-inner {
  color: white;
  cursor: pointer;
  background-color: #2196f3;
}

.mat-mdc-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.domibus-page {
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.domibus-grid-container {
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.selectionCriteria {
  /*flex-grow: 1;*/
  margin-left: -10px;
}

.mat-datepicker-content {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  background-color: #fff;
  color: #000000de;
}

.mat-calendar-body-cell {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  text-align: center;
  outline: none;
  font-family: inherit;
  margin: 0;
}

.mat-calendar-body-cell:before, .mat-calendar-body-cell:after, .mat-calendar-body-cell-preview {
  content: "";
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  display: block;
  height: 90%;
  width: 100%;
}

.mat-calendar-body-cell-content, .mat-date-range-input-separator {
  color: #000000de;
  border-color: transparent;
}

.mat-calendar-body-cell-content.mat-focus-indicator {
  position: absolute;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px #fff;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px #fff;
}

.mat-calendar-body-cell-content {
  top: 5%;
  left: 5%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 999px;
}

.mat-calendar-body-selected {
  background-color: rgb(33, 150, 243);
  color: #fff;
}

.mat-calendar-body-cell-content, .mat-date-range-input-separator {
  color: #000000de;
  border-color: transparent;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #00000061;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
  position: absolute;
  top: 50%;
  height: 48px;
  left: 50%;
  width: 48px;
  transform: translate(-50%, -50%);
}

.mat-mdc-icon-button svg, .mat-mdc-icon-button img {
  width: 24px;
  height: 24px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 48px;
  height: 48px;
  padding: 12px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 3em !important;
}

.mat-datepicker-actions {
  padding: 0px !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle .mat-mdc-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle .mat-mdc-icon-button {
  width: 2em !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: lightgrey !important;
}

.mdc-button {
  justify-content: left !important;
}

.mat-mdc-card-outlined {
  border-color: transparent !important;
}

.mat-mdc-select {
  font-size: 14px !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  font-size: 14px !important;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font-size: 14px !important;
}

.mdc-text-field--filled .mdc-floating-label {
  font-size: 14px !important;
}

::ng-deep ngx-datatable > div {
  display: block;
  height: 100%;
}

::ng-deep .ngx-datatable .datatable-body {
  height: calc(100% - 100px) !important;
  overflow: hidden auto;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0px !important;
}

.mat-mdc-card-content:first-child {
  padding-top: 0px !important;
}

.mat-mdc-card-content {
  padding: 0 !important;
}

.ngx-datatable.material .datatable-body .progress-linear {
  position: absolute !important;
}

ngx-mat-timepicker .mat-mdc-form-field-subscript-wrapper {
  height: 0px !important;
}

ngx-mat-timepicker .mat-mdc-form-field {
  margin-top: -15px !important;
}

.ngx-mat-timepicker form .ngx-mat-timepicker-table .ngx-mat-timepicker-tbody tr td .mat-mdc-icon-button .mat-icon {
  height: 18px !important;
}

.mat-datepicker-actions .mat-mdc-icon-button.mat-mdc-button-base {
  padding-top: 0 !important;
  height: 38px;
  margin-right: 10px;
}

.mat-datepicker-actions {
  margin-top: -10px;
}
.mat-calendar-header {
  padding-top: 0 !important;
}

.cdk-overlay-pane {
  overflow-y: auto !important;
}
