<div style="height: auto; margin: 20px;">
  <h1 mat-dialog-title>
     {{reason}}
     <!--You are using the default password for this user. Please change it now in order to be able to use the console.-->
     <!--We strongly recommend you to change it using the user console.-->
    </h1>
    <div class="divTable">
      <div class="divTableBody">
        <div class="divTableRow">
          <div class="divTableCell">
            <button mat-raised-button color="primary" (click)="dialogRef.close('ok')" id="defaultpassbutton_id">
              <mat-icon>check_circle</mat-icon>
              <span>OK</span>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
